# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/
.pyenv/
.Python
pythonenv/
pip-log.txt
pip-delete-this-directory.txt

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Log files
*.log

# SQLite database files
*.sqlite3
*.db

# Node.js
node_modules/

# Appium-related files
appium.log
